<div class="container px-4">
  <div class="row mt-3">
    <div class="col-sm">
      <span id="my-element"
        style="border: 2px solid red; border-radius: 10px; padding: 5px; cursor: pointer;">
        my-element to test observable from event
      </span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm">
      <app-operators></app-operators>
    </div>
  </div>
</div>
